body {
  font-family: system, -apple-system, BlinkMacSystemFont,
    "Helvetica Neue", "Lucida Grande", sans-serif;
  -webkit-font-smoothing: antialiased;
  min-height: 75rem;
}

.chart {
  height: 250px;
}
