<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>GoBike Status</title>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
          <h1 class="display-4">Ford GoBike Metrics</h1>
          <ul class="nav nav-pills flex-column flex-sm-row">
            <li class="nav-item">
              <a class="nav-link {{if eq .Area "bayarea"}}active{{end}}" href="/">Bay Area</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link {{if eq .Area "oakland"}}active{{end}}" href="/oakland/">Oakland</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {{if eq .Area "sf"}}active{{end}}" href="/sf/">San Francisco</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {{if eq .Area "sj"}}active{{end}}" href="/sj/">San Jose</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {{if eq .Area "berkeley"}}active{{end}}" href="/berkeley/">Berkeley</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link {{if eq .Area "emeryville"}}active{{end}}" href="/emeryville/">Emeryville</span></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          {{ if eq .Area "sf" }}
          <div class="row">
            <div class="col-12">
              <p>
              <br />
              &nbsp;&nbsp;&nbsp; RIP <a href="https://www.sfexaminer.com/news/death-of-bicyclist-prompts-outpouring-of-grief-renewed-calls-for-protected-bike-lanes/">Tess Rothstein</a>. <a href="mailto:MTABoard@sfmta.com">Contact the MTA Board</a> to ask for protected bike lanes in San Francisco.
              </p>
            </div>
          </div>
          {{ end }}
          <div class="row">
            <div class="col-md-12 my-3">
              <h4>Trips per week: {{ .TripsPerWeekCount }}</h4>
              <div id="placeholder" class="chart">
              </div>
            </div>
            {{ if eq .Area "sf" }}
            <div class="col-md-12 my-2">
              <table class="table table-sm">
                <tbody>
                  <tr>
                    <th scope="row">Total trips per day in SF (walk/bike/car/train):</th><td><a href="https://www.sfmta.com/sites/default/files/reports-and-documents/2018/01/san_francisco_transportation_trends_2.3.15.pdf#page=5">4.2 million</a></td>
                  </tr>
                  <tr>
                    <th scope="row">Average weekday GoBike trips:</th><td>{{ .AverageWeekdayTrips }}</td>
                  </tr>
                  <tr>
                    <th scope="row">Share of all trips on GoBike:</th><td>{{ .ShareOfTotalTrips }}%</td>
                  </tr>
                  <tr>
                    <th scope="row">Private car share of total trips:</th><td><a href="https://www.sfmta.com/sites/default/files/reports-and-documents/2018/01/san_francisco_transportation_trends_2.3.15.pdf#page=13">48.0%</a></td>
                  </tr>
                  <tr>
                    <th scope="row">Walking share of total trips:</th><td><a href="https://www.sfmta.com/sites/default/files/reports-and-documents/2018/01/san_francisco_transportation_trends_2.3.15.pdf#page=15">23.0%</a></td>
                  </tr>
                </tbody>
              </table>
            </div>
            {{- else if ne .Area "bayarea" }}
            <div class="col-md-12 my-2">
              <table class="table table-sm">
                <tbody>
                  <tr>
                    <th scope="row">{{ .FriendlyName }} Population:</th><td>{{ .Population }}</td>
                  </tr>
                  <tr>
                    <th scope="row">Trips per person in SF: <sup><a href="#fn1">1</a></sup></th><td><a href="https://www.sfmta.com/sites/default/files/reports-and-documents/2018/01/san_francisco_transportation_trends_2.3.15.pdf#page=5">4.82</a></td>
                  </tr>
                  <tr>
                    <th scope="row">Estimated trips per day in {{ .FriendlyName }}:</th><td>{{ .EstimatedTotalTrips }}</td>
                  </tr>
                  <tr>
                    <th scope="row">Average weekday GoBike trips:</th><td>{{ .AverageWeekdayTrips }}</td>
                  </tr>
                  <tr>
                    <th scope="row">Share of all trips on GoBike:</th><td>{{ .ShareOfTotalTrips }}%</td>
                  </tr>
                </tbody>
              </table>
            </div>
            {{- end }}
            <div class="col-md-12 my-3">
              <h4>Number of stations used last week: {{ .StationsPerWeekCount }}</h4>
              <div id="placeholder-2" class="chart">
              </div>
            </div>
            <div class="col-md-12 my-3">
              <h4>Revenue: ${{ .LatestRunRate }} last 30 days</h4>
              <div id="placeholder-7" class="chart">
              </div>
            </div>
          </div>
          <div class="row my-3">
            <div class="col-md-12">
              <h4>Bikes in circulation last week: {{ .BikesPerWeekCount }}</h4>
              <div id="placeholder-3" class="chart">
              </div>
            </div>
          </div>
          <div class="row my-3">
            <div class="col-md-12">
              <h4>Trips per bike last week: {{ .TripsPerBikePerWeekCount }}</h4>
              <div id="placeholder-4" class="chart">
              </div>
            </div>
          </div>
          <div class="row my-3">
            <div class="col-md-12">
              <h4>Rebalancing ops per week: {{ .MovesPerWeekCount }}</h4>
              <div id="placeholder-8" class="chart">
              </div>
            </div>
          </div>
          <div class="row my-3">
            <div class="col-md-6">
              <h4>Average distance: {{ .DistanceBuckets.Average }} miles</h4>
              <table class="table table-sm">
                <tbody>
                {{- range $index, $count := .DistanceBuckets.Buckets }}
                  <tr>
                    <th scope="row">{{ $.DistanceBuckets.Distrange $index }}</th>
                    <td>{{ $count }} ({{ $.DistanceBuckets.Percent $index }})</td>
                  </tr>
                {{- end }}
                </tbody>
              </table>
            </div>
            <div class="col-md-6">
              <h4>Average trip time: {{ .DurationBuckets.Average }} min</h4>
              <table class="table table-sm">
                <tbody>
                {{- range $index, $count := .DurationBuckets.Buckets }}
                  <tr>
                    <th scope="row">{{ $.DurationBuckets.Distrange $index }}</th>
                    <td>{{ $count }} ({{ $.DurationBuckets.Percent $index }})</td>
                  </tr>
                {{- end }}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <h4>Most Popular Stations</h4>
          <table class="table table-sm">
            <tbody>
            {{ range .PopularStations -}}
            <tr>
              {{- if lt .Count 6 -}}
              <th scope="row">(5 or fewer)</th><td><a href="https://www.openstreetmap.org/?mlat={{ .Station.Latitude }}&mlon={{ .Station.Longitude }}&zoom=14">{{ .Station.Name }}</a></td>
              {{ else -}}
              <th scope="row">{{ .Count }}</th><td><a href="https://www.openstreetmap.org/?mlat={{ .Station.Latitude }}&mlon={{ .Station.Longitude }}&zoom=14">{{ .Station.Name }}</a> </td>
              {{- end }}
            </tr>
            {{- end }}
            </tbody>
          </table>
          <p>
            <a href="/{{ .Area }}/stations">All station statistics</a>
          </p>
          {{ if eq .Area "sf" }}
          <h5>Trips By Supervisor District</h5>
          <table class="table table-sm">
            <tbody>
              <tr>
                <th scope="row">D1</th><td>{{ index .TripsByDistrict 0 }}</td><td>Sandra Lee Fewer</td>
              </tr>
              <tr>
                <th scope="row">D2</th><td>{{ index .TripsByDistrict 1 }}</td><td>Catherine Stefani</td>
              </tr>
              <tr>
                <th scope="row">D3</th><td>{{ index .TripsByDistrict 2 }}</td><td>Aaron Peskin</td>
              </tr>
              <tr>
                <th scope="row">D4</th><td>{{ index .TripsByDistrict 3 }}</td><td>Gordon Mar</td>
              </tr>
              <tr>
                <th scope="row">D5</th><td>{{ index .TripsByDistrict 4 }}</td><td>Vallie Brown</td>
              </tr>
              <tr>
                <th scope="row">D6</th><td>{{ index .TripsByDistrict 5 }}</td><td>Matt Haney</td>
              </tr>
              <tr>
                <th scope="row">D7</th><td>{{ index .TripsByDistrict 6 }}</td><td>Norman Yee</td>
              </tr>
              <tr>
                <th scope="row">D8</th><td>{{ index .TripsByDistrict 7 }}</td><td>Rafael Mandelman</td>
              </tr>
              <tr>
                <th scope="row">D9</th><td>{{ index .TripsByDistrict 8 }}</td><td>Hillary Ronen</td>
              </tr>
              <tr>
                <th scope="row">D10</th><td>{{ index .TripsByDistrict 9 }}</td><td>Shamann Walton</td>
              </tr>
              <tr>
                <th scope="row">D11</th><td>{{ index .TripsByDistrict 10 }}</td><td>Ahsha Safaí</td>
              </tr>
            </tbody>
          </table>
          {{ end }}
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <h4><a href="https://www.fordgobike.com/pricing/bikeshareforall">Bike Share For All</a> trips last week: {{ .BS4ATripsPerWeekCount }} ({{ .BS4ATripPct }}% of total)</h4>
          <div id="placeholder-5" class="chart">
          </div>
          <h4>Stations out of service</h4>
          <div id="placeholder-6" class="chart">
          </div>
        </div>
        <div class="col-md-4">
          <h4>Popular BS4A Stations</h4>
          <table class="table table-sm">
            <tbody>
            {{ range .PopularBS4AStations -}}
            <tr>
              {{- if lt .BS4ACount 6 -}}
              <th scope="row">(5 or fewer)</th><td><a href="https://www.openstreetmap.org/?mlat={{ .Station.Latitude }}&mlon={{ .Station.Longitude }}&zoom=14">{{ .Station.Name }}</a></td><td>N/A</td>
              {{- else -}}
              <th scope="row">{{ .BS4ACount }}</th><td><a href="https://www.openstreetmap.org/?mlat={{ .Station.Latitude }}&mlon={{ .Station.Longitude }}&zoom=14">{{ .Station.Name }}</a> </td><td>{{ .BS4APct }}%</td>
              {{ end -}}
            </tr>
            {{ end -}}
            </tbody>
          </table>
          </p>
        </div>
      </div>
      <div class="row">
        {{- if and (ne .Area "bayarea") (ne .Area "sf") }}
        <div class="col-md-8">
          <p>
          <sup id="fn1">1</sup><small>We couldn't find trip data for {{ .FriendlyName }} so we are guessing based on 4.82 trips per person in SF. If you have better data for {{ .FriendlyName }}, <a href="https://github.com/kevinburke/gobike">please share</a>!</small>
          </p>
        </div>
        {{- end }}
        <div class="col-md-8">
          <p>
            This website is not affiliated with GoBike, Motivate, the MTC,
            or any of the listed cities. All use is subject to the <a
            href="https://assets.fordgobike.com/data-license-agreement.html">
            Motivate Data License Agreement.</a>
          </p>
          <p>
            Created by <a href="https://burke.services">Kevin Burke</a>
            and <a href="http://kyleconroy.com/">Kyle Conroy</a>.
            <a href="https://github.com/kevinburke/gobike">View
            the source code</a> or <a
            href="https://github.com/kevinburke/gobike/issues">contribute!</a>
          </p>
        </div>
      </div>
    </main>

    <script type="text/javascript" src="/static/jquery.min.js"></script>
    <script type="text/javascript" src="/static/flot.min.js"></script>
    <script type="text/javascript" src="/static/flot.time.min.js"></script>
    <script>
      var plotOptions = {
        xaxis: {
          mode: "time",
        },
        legend: {position: "nw"},
        grid: {
          hoverable: true,
          borderWidth: 0,
        },
      };
      var color = '#002267';
      var tripsPerWeek = {{ .TripsPerWeek }};
      var stationsPerWeek = {{ .StationsPerWeek }};
      var bikesPerWeek = {{ .BikesPerWeek }};
      var tripsPerBikePerWeek = {{ .TripsPerBikePerWeek }};
      var bs4aTripsPerWeek = {{ .BS4ATripsPerWeek }};
      var emptyStations = {{ .EmptyStations }};
      var fullStations = {{ .FullStations }};
      var runRate = {{ .RunRate }};
      var movesPerWeek = {{ .MovesPerWeek }};
      for (var i = 0; i < runRate.length; i++) {
        runRate[i][1] = runRate[i][1] / 100;
      }

      var months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
      // treating this date as a UTC date makes the display work. not sure why,
      // but other options didn't.
      var formatDate = function(d) {
        var month = months[d.getUTCMonth()];
        var day = d.getUTCDate();
        var hour = d.getUTCHours();
        var minutes = d.getUTCMinutes();
        if (hour === 0 && minutes === 0) {
          return month + " " + day.toString();
        }
        var ampm = "am";
        if (hour == 0) {
          hour = 12;
          ampm = "am";
        }
        if (hour >= 12) {
          ampm = "pm";
        }
        if (hour > 12) {
          hour = hour - 12;
        }
        return month + " " + day.toString() + " " + hour.toString() + ":" + minutes.toString().padStart(2, 0) + ampm;
      };
      var plotTooltip = function(event, pos, item) {
        if (item) {
          var x = item.datapoint[0];
          var label = item.series.label;
          if (item.datapoint[1] === 1) {
            label = label.replace("stations", "station");
          }
          var y = item.datapoint[1].toFixed(0);
          if (label === "dollars") {
            y = '$' + y
            label = '';
          }
          var d = new Date(x);
          $("#tooltip").html(formatDate(d) + ": " + y + " " + label).css({top: item.pageY+5, left: item.pageX+5}).show();
        } else {
          $("#tooltip").hide();
        }
      };
      $.plot("#placeholder", [{color: color, data: tripsPerWeek, label: "trips"}], plotOptions);

      $("<div id='tooltip'></div>").css({
        position: "absolute",
        display: "none",
        border: "1px solid #fdd",
        padding: "2px",
        "background-color": "#fee",
        opacity: 0.80,
      }).appendTo("body");
      $("#placeholder").bind("plothover", plotTooltip);
      $.plot("#placeholder-2", [{color: color, data: stationsPerWeek, label: "stations"}], plotOptions);
      $("#placeholder-2").bind("plothover", plotTooltip);
      $.plot("#placeholder-3", [{color: color, data: bikesPerWeek, label: "bikes"}], plotOptions);
      $("#placeholder-3").bind("plothover", plotTooltip);
      $.plot("#placeholder-4", [{color: color, data: tripsPerBikePerWeek, label: "trips/bike"}], plotOptions);
      $("#placeholder-4").bind("plothover", plotTooltip);
      $.plot("#placeholder-5", [{color: color, data: bs4aTripsPerWeek, label: "trips"}], plotOptions);
      $("#placeholder-5").bind("plothover", plotTooltip);
      $.plot("#placeholder-7", [{color: color, data: runRate, label: "dollars"}], plotOptions);
      $("#placeholder-7").bind("plothover", plotTooltip);
      $.plot("#placeholder-8", [{color: color, data: movesPerWeek, label: "moves"}], plotOptions);
      $("#placeholder-8").bind("plothover", plotTooltip);
      var stationCapacity = stationsPerWeek[stationsPerWeek.length-1][1];
      var stationGraph = [];
      var emptyStationReverse = [];
      var fullStationReverse = [];
      for (var i = 0; i < emptyStations.length; i++) {
        stationGraph.push([emptyStations[i][0], stationCapacity]);
        emptyStationReverse.push([emptyStations[i][0], stationCapacity - emptyStations[i][1]]);
        fullStationReverse.push([fullStations[i][0], stationCapacity - fullStations[i][1]]);
      }
      opts = plotOptions;
      opts.yaxis = {
        max: stationCapacity + 3,
        min: 0,
      };
      opts.legend.position = "sw";
      $.plot("#placeholder-6", [
        {
          color: "#3d9c38",
          data: stationGraph,
          label: "total stations",
        },
        {
          color: color,
          data: emptyStationReverse,
          label: "stations with bikes",
        },
        {
          color: "#c03438",
          data: fullStationReverse,
          label: "stations with parking",
        },
      ], opts);
      $("#placeholder-6").bind("plothover", plotTooltip);

    </script>
  </body>
</html>
